.jfx-hamburger-icon{
	
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.jfx-hamburger-icon:hover{
	-fx-background-color: #778299;
	-fx-text-fill: white;
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 30px;
    -fx-pref-height: 5px;
    -fx-background-color : black;
    -fx-background-radius : 5px;
}
.green-hamburger > StackPane {
    -fx-background-color: #00FF00;
}
.my-button:hover{
    -fx-background-color: #778299;
}

.button:hover{
	-fx-font-family: "Fira Code";
    -fx-font-weight: BOLD;
	-fx-font-size: 20px;
	-fx-background-color: #778299;
	-fx-text-fill: white;
}
.button:hover .glyph-icon{
	-fx-fill: white;
}
.warning {
  -fx-fill: red;
}
.glyph-icon {
	
}

