.jfx-hamburger-icon{
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 40px;
    -fx-pref-height: 3px;
    -fx-background-color : #D63333;
    -fx-background-radius : 5px;
}
.green-hamburger > StackPane {
    -fx-background-color: #00FF00;
}
.warning {
  -fx-fill: red;
}
.glyph-icon {
	
}

.button:hover{
}